extends layout

block content
  div.container.text-center.mt-5.p-4.bg-light.rounded
    h1.mb-4 Welcome to MyMeds
    p.mb-4
      | This is a simple application for managing medicines.
      br
      | Please log in or sign up to get started.
    a.btn.btn-primary(href='/login', role='button', style='margin-right: 10px;') Log In
    a.btn.btn-secondary(href='/signup', role='button') Sign Up
